@charset "UTF-8";
/* CSS Document */

#introScreen {
    width: 970px;
    height: 475px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
#introStars,#introBG{ 
    width: 970px;
    height: 2350px;
    background-image: url(../images/stars_1.png);
    background-size: 1300px 470px; 
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.2);
    transform-origin:left bottom;
}
#introBG{
    background-image: url(../images/introBG.jpg);
    background-size: 1800px 940px; 
    height: 940px;
    background-position: left -46px;
}
.intrologo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);   
}
#introPlay {
    top: 50%;
}
#introTxt01 {
    top:380px;
}
#introTxt_volume {
    bottom: 6px;
    top: auto;
    left: 6px;
    transform: scale(1);
    width: 100%;
    text-align: left;
}
#introTxt02,#introTxt03,#introTxt05 {
    text-align: center;
    top: 220px;
    line-height: 3em;
}
#introTxt02a {
    animation: colorRotateRed 1s infinite;
}
#introTxt03,#introTxt05 {
    font-size: .8em;
}
#introTxt03a{
    animation: colorRotateGreen 1s 1s infinite;
}
@keyframes colorRotateGreen {
    0% { color: rgb(91 182 39); }
    50% { color: #fff; }
    100% { color: rgb(91 182 39); }
}
#introTxt05 {
    top: 140px;
}
#introTxt05a {
    font-size: 1.2em;   
}
#introTxt05a{
    animation: colorRotatePink 1s 1s infinite;
}
@keyframes colorRotatePink {
    0% { color: rgba(84,36,84,1); }
    50% { color: #fff; }
    100% { color: rgba(84,36,84,1); }
}
.introAlbum {
    position: absolute;
    top: 130px;
    left: 50%;
    opacity: 0;
}
#introAlbum1 {
    transform: translateX(-60%) scale(0.75);
}
#introAlbum2 {
    transform: translateX(-40%) scale(0.75)
}

#introLogo2 {
    height: 290px;
    top: 110px;
}
#introTxt04 {
    top: 120px;
    font-size: 0.8em;
}
#introTxtTitle {
    top: 12px;
    position: absolute;
    left: 0%;
    width: 100%;
    animation: hueRotate 2s 0s infinite;
}
@keyframes hueRotate {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}
#introTxtLogo{
    position: absolute;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
    width: 170px;
}
.clickable {
    cursor: pointer;
}

#skipIntro {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: none;
    background-color: #fff;
    color: #000;
    font-family: 'Press Start 2P', 'Courier New', monospace;
    padding: 1em;
    font-size: .7em;
    opacity: .5;
    transition: 1s opacity;
    display: none;
}
#skipIntro:hover,#skipIntro:active{
    opacity: 1;
}