@charset "UTF-8";
/* CSS Document */
#controllerWrap{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    transform-origin: left top;
    position: absolute;
}
@media screen and (min-width: 1088px) and (min-height: 666px) {
    #controller.pulseController {
        display: block;
    }
/*}
@media screen and (min-width: 982px) {*/
    #mobileControls {
        display: none;
    }
    #introBtnS {
        background-image: url('../images/introBtnS.png');
        height: 50px;
        vertical-align: text-bottom;
        background-size: contain;
    }
    #introBtn {
        background-image: url(../images/introBtn.png); 
        background-size: 100% auto;
        background-position: center top;
        height: 52px;
        width: 80px;
        vertical-align: text-bottom;
    }
    #introBtn.pressedA { background-position: center -52px; }
    #introBtn.pressedS { background-position: center -104px; height:52px; }
    #introBtn.pressedD { background-position: center -156px; }
    #introBtn.pressedW { background-position: center -208px; }

    #introBtnK,
    #introBtnJ {
        vertical-align: text-bottom;
        width: 26px;
        height: 52px;
        background-repeat: no-repeat;
    }
    #introBtnK{
        background-image: url(../images/introBtnK.png); 
    }
    #introBtnJ {
        background-image: url(../images/introBtnJ.png); 
    }
    #introBtnK.pressed,
    #introBtnJ.pressed {background-position: center -63px;}
    

    #instructionsTxt0 {
        top: 182px;
    }
    
    #instructionsTxt3.paused,#instructionsTxt4.paused{
        transform: translate(-50%, -50%) scale(1.4) rotate(-1deg)
    }
    #instructionsTxt4{
        line-height: 1em;
        top: 170px;
    }
    #instructionsTxt4.paused {
        top: 215px;
        left: 770px;
    }
}
@media screen and (min-height: 550px) {
    #footer {
    	display: block;
    }
}