@charset "UTF-8";
/* CSS Document */
#controllerWrap{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    transform-origin: left top;
    position: absolute;
}
@media screen and (min-width: 1088px) and (min-height: 666px) {
    #controller {
        max-width: 1140px;
        max-height: 890px;
        top: -321px;
        left: -112px;
        background-position: center;
        transform: none;
    }
}
@media screen and (min-width: 982px) {
    #mobileControls {
        display: none;
    }
    #introBtnS {
        background-image: url('../images/introBtnS.png');
        width: 26px;
        height: 50px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        vertical-align: text-bottom;
        background-size: contain;
    }
    #introBtn {
        background-image: url(../images/introBtn.png); 
        background-size: 100% auto;
        background-position: center top;
        height: 52px;
        width: 80px;
        vertical-align: text-bottom;
    }
    #introBtn.pressedA { background-position: center -52px; }
    #introBtn.pressedS { background-position: center -104px; height:52px; }
    #introBtn.pressedD { background-position: center -156px; }
    #introBtn.pressedW { background-position: center -208px; }

    #introBtnK,
    #introBtnJ {
        vertical-align: text-bottom;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
    }
    #introBtnK{
        background-image: url(../images/introBtnK.png); 
    }
    #introBtnJ {
        background-image: url(../images/introBtnJ.png); 
    }
    #introBtnK.pressed,
    #introBtnJ.pressed {background-position: center 100%;}
    

    #instructionsTxt0 {
        top: 213px;
    }
    #instructions_optionsTxt {
        top: 275px;
    }
    .instructions_desktop {
        display: inline-block;
    }
    .instructions_mobile {
        display: none;
    }
    .instructions_desktop img{
        vertical-align: text-bottom;
        width:24px;
    }
    
    #instructionsTxt3.paused,#instructionsTxt4.paused{
        transform: translate(-50%, -50%) scale(1.4) rotate(-1deg)
    }
    #instructionsTxt4.paused {
        left: 730px;
        top: 238px;
        width: 290px;
    }
    #instructionsTxt4.paused,
    #instructionsTxt3.paused {
        opacity: 1!important;
        visibility: visible!important;
    }
    #instructionsTxt4{
        line-height: 2em;
        top: 221px;
    }
    #instructionsTxt4.paused {
        top: 232px;
        left: 770px;
    }
    #resumetxt {
        top: 345px;
        transform: translate(-50%,-50%) scale(2);
        text-shadow: 0 0 8px black;
    }
}
@media screen and (min-height: 550px) {
    #footer {
    	display: block;
    }
}