@charset "UTF-8";
/* CSS Document */

img,div{border:0; /*position: absolute; */}
body{
    /*position:absolute;*/
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background-color:#000;

    /* below improves consistancey of font rendering across browsers */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    /* below stops FireFox rendering copy too heavily */
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Press Start 2P', 'Courier New', monospace;
    /*font-weight: bold;*/
    overflow: hidden;
}
#wrap {
    background-color: #000;
    background-image: url(../images/primitai-album-BG.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#controller{
    width: 1145px;
    height: 890px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-image: url(../images/snes-controller.png);
    background-size: 1145px 890px;
    background-position: -115px -316px;
    max-width: 970px;
    max-height: 475px;
    opacity: 0;
}
#controller.showController{
    display: block;   

}
#container,#controllerWrap {
    background-color: #000;
    overflow:hidden;
    width: 970px;
    height: 475px;
    /*position: absolute;*/
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    perspective: 1px;
}
#controllerWrap{
    overflow: visible;
}
.hidden {
    opacity: 0;
}

.bg,.fg{
    position: absolute;
}
.bg {
    width:1800px;
    height: 470px;
    background-size: 100% 100%;
}
#bgToGo1,#bgToGo3{
    background-image: url(../images/nebula_bg.png);
}
#bgToGo2{
    background-image: url(../images/eclipse_bg.png);
}
#bgToGo1.fast,
#bgToGo2.fast,
#bgToGo3.fast{
    background-image: url(../images/stars_1-fast.gif);
    opacity: 1!important;
    background-size: 100% 200%;
}


.bgStars {
    width: 1300px;
    height: 475px;
    opacity: .3;
    background-size: contain;
}
#bgStars2,#bgStars3{
    transform: translateX(1300px);
}
#bgStars1,#bgStars3{
    background-image: url(../images/stars_1.png);
}
#bgStars2{
    background-image: url(../images/stars_2.png);
}
#bgStars1.fast,
#bgStars2.fast,
#bgStars3.fast{
    background-image: url(../images/stars_1-fast.gif);
    opacity: .5!important;
}



#bgMountains {
    display: none;
}
.bgMountains {
    width: 1800px;
    height: 475px;
    background-size: contain;
    transform: translateX(1800px);
    top: 40px;
}
#bgMountains1 {
    background-image: url(../images/bg_mountains1.png);
}
#bgMountains2{
    background-image: url(../images/bg_mountains2.png);
}
#bgMountains3{
    background-image: url(../images/bg_mountains3.png);
}
#bgMountains4{
    background-image: url(../images/bg_mountains3.png);
}
#bgMountains5{
    background-image: url(../images/bg_mountains2.png);
}
#bgMountains6{
    background-image: url(../images/bg_mountains1.png);
}

#tilt {
    transform: translateY(400px);
}
.fg{
    width: 1801px;
    left: 0px;
    top: 20px;
    opacity: 1;
}
#fg-intro {
    left: 0;
    top: 20px;
    width: 2250px;
}
.fgToGo{
    transform: translateX(1300px);
    opacity: 1;
}
#fgToGo3{
    transform: translateX(0px);
}
#fgs {
    opacity: 0
}
#lightning {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    opacity: 0;
}
#area {
    position: absolute;
    width: 100%;
    height: 470px; 
    top: 0;
    left: 0;
    perspective: 500px;
    -moz-perspective: 2000px;
    perspective-origin: left top;
}

#player{
    position: absolute;
    left: 40px;
    height: 120px;
    top: 320px;
    transition: left 1.5s;
    width:150px;
    perspective: 250px;
    overflow: visible;
}
.player {
    height: 150px;
    position: absolute;
}
#playerMovements {
    transform: translateZ(0px);
}
#rider {
    
}
#bike {
    
}
.shadow{
    opacity: .4;
}
.riderBounce {
     animation: riderBounce 1s infinite linear;
}
@keyframes riderBounce {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(10px);}
    100%{ transform: translateY(0px);}
}
.riderFly #rider-jets,
.riderFly #rider-go {
    opacity: 1;
}
.car-jets,
#rider-jets {
    background-image: url(../images/rider-jets.png);
    width: 164px;
    height: 150px;
    top: 0;
    left: 0;
    background-size: 164px 300px; 
    animation: jetsGo 0.1s steps(2, end) infinite;
    overflow: hidden;
    background-repeat: no-repeat;
    opacity: 0;
}
#rider-jets {
    top: 2px;
    left: -5px;
    transform: scaleX(1) scaleY(1) translate(0,0) skewY(0);
    filter: hue-rotate(0deg);
    transition: transform .2s, filter 1s;
}
@keyframes jetsGo {
    0%{ 
        background-position-y: 0px; 
    }
    100%{ 
        background-position-y: -300px;    
    }
}
#rider-jets.wheelieJets{
    transition: transform 1.5s;
    transform: skewY(13deg);
}
#rider-jets.jumpJets {
    transition: transform .2s, filter .2s;
    transform: scaleX(1.4) scaleY(1.1) translate(8px,-2px);
    filter: hue-rotate(150deg);
}
#rider-jets.backJets{
    filter: hue-rotate(265deg);    
    transform: scaleX(.75) translate(-10px,0px);
    transition: transform 0s;
}
#rider-jets.forwJets{
    transition: transform 0s;
    transform: scaleX(1.25) translate(7px,0px);
    filter: hue-rotate(61deg);
}
#rider-go {
    width: 164px;
}
.hair-go,
.rider-go,
#bike-go,
#rider-stopped {
    width:164px;
    height: 150px;
    position: absolute;
    background-size: 100%;

}
.rider-go {
    background-image: url("../images/rider-go-new.png");
}
.character3 .rider-go{
    /* guy */
    background-image: url("../images/rider-go-new.png");
}
.character1 .rider-go{
    /* jon */
    background-image: url("../images/rider-go-jon.png");
}
.character2 .rider-go{
    background-image: url("../images/rider-go-srdjan.png");
}
.character4 .rider-go{
    background-image: url("../images/rider-go-scott.png");
}
#hair-go1 { background-image: url("../images/hair-go1.png"); }
#hair-go2 { background-image: url("../images/hair-go2.png"); }
#hair-go3 { background-image: url("../images/hair-go3.png"); }

.character1 #hair-go1 { background-image:none; }
.character1 #hair-go2 { background-image:none; }
.character1 #hair-go3 { background-image:none; }

.character2 #hair-go1 { background-image: url("../images/hair-go1-srdjan.png"); }
.character2 #hair-go2 { background-image: url("../images/hair-go2-srdjan.png"); }
.character2 #hair-go3 { background-image: url("../images/hair-go3-srdjan.png"); }

.character4 #hair-go1 { background-image: url("../images/hair-go1-scott.png"); }
.character4 #hair-go2 { background-image: url("../images/hair-go2-scott.png"); }
.character4 #hair-go3 { background-image: url("../images/hair-go3-scott.png"); }

#rider-stopped {
    background-image: url("../images/rider-stopped.png");
}
.character1 #rider-stopped { background-image: url("../images/rider-stopped-jon.png"); }
.character2 #rider-stopped { background-image: url("../images/rider-stopped-srdjan.png"); }
.character3 #rider-stopped { background-image: url("../images/rider-stopped.png"); }
.character4 #rider-stopped { background-image: url("../images/rider-stopped-scott.png"); }

#rider-scream,#rider-scream2 {
    width: 100%;
    position: absolute;
    opacity: 0;
    height: 100%;
    background-size: 100%;
}
.character1 #rider-scream { background-image: url("../images/rider-scream-jon.png"); }
.character2 #rider-scream { background-image: url("../images/rider-scream-srdjan.png"); }
#rider-scream,
.character3 #rider-scream { background-image: url("../images/rider-scream.png"); }
.character4 #rider-scream { background-image: url("../images/rider-scream-scott.png"); }

.character1 #rider-scream2 {  
    background-image: url("../images/rider-scream2-jon.png"); 
    top: 0px;
    left: 0px; 
}
.character2 #rider-scream2 { 
    background-image: url("../images/rider-scream2-srdjan.png"); 
    top: -14px;
    left: -19px;
    transform-origin: 110px 60px;
}
.character2 #rider-scream2.playScream{
    animation: superman 1.5s;
}
@keyframes superman {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg); }
}

#rider-scream2 {
    top: -20px;
    left: 4px; 
    background-image: url("../images/rider-scream2.png");
    animation: none;
} /* guy */
.character3 #rider-scream2 { 
    background-image: url("../images/rider-scream2.png");
    top: -20px;
    left: 4px; 
}

.character4 #rider-scream2 { 
    background-image: url("../images/rider-scream2-scott.png");
    top: -30px;
    left: -16px;
    transform-origin: 45% 50px;
}
.character4 #rider-scream2.playScream{
    animation: nothingflip 1.5s;
}
@keyframes nothingflip {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}


#bike-go {
    background-image: url("../images/bike.png");
    background-size: 100%;
}
#bike-go.bike1 {
    background-image: url("../images/bike1.png");
}
#bike-go.bike2 {
    background-image: url("../images/bike2.png");
}
.fzero #bike-go.bike2 {
    background-image: url("../images/bike3.png");
}



.shadowBounce {
     animation: shadowBounce 1s infinite linear;
     transform-origin: center 90%;
}
@keyframes shadowBounce {
    0%{ 
        transform: translateY(0px) scale(1);
        opacity: .2; 
    }
    50%{ 
        transform: translateY(0px) scale(1.1); 
        opacity: .4;
    }
    100%{ 
        transform: translateY(0px) scale(1); 
        opacity: .2; 
    }
}
#player.forwards {
    left: 140px;
}
#player.forwards2 {
    left: 240px;
}
#player.forwards3 {
    left: 340px;
}
#player.forwards4 {
    left: 440px;
}
#player.forwards5 {
    left: 540px;
}
#player.forwards6 {
    left: 640px;
}
#player.forwards7 {
    left: 740px;
}
#player.forwards_start {
    left: 170px;
}
#flame {
    width: 200px;
    height: 250px;
    top: -85px;
    left: 30px;
}
/* for ending */
.car {

}
.car-jets {
    top: 29px;
    left: 21px;
    transform: scaleY(1.2) scaleX(1.9);
    filter: hue-rotate(181deg);
}
#car-jets2 {
    top: -3px;
    left: -16px;
    transform: scaleY(1.2) scaleX(1.7);
}
#car-shadow {
    top: 30px;
}


.obstacle {
    width: 60px;
    left: 340px;
    position: absolute;
}



div.rockL {
    top: 180px;
    width: 100px;
}
img.rockL {
    width: 160px;
    height: auto;
    transform: translateY(80px);
}


div.rockR {
    top: 406px;
    height: auto;
    width: 200px;
}
img.rockR {
    height: auto;
    transform: translateY(-80px);
}

div.hole {
    top: 292px;
    width: 360px;
}
img.hole {
    width: 484px;
    margin-left: -60px;
}

div.obstacleAsteroid {
    top: 160px;
    width: 180px;
    height: 100%;
}
img.obstacleAsteroid {
    width: 180px;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {transform: translateY(-60px) rotate(360deg);}
    100% {transform: translateY(-60px) rotate(0deg);}
}
img.asteroid-shadow {
    top: -100px;
    left: -20px;
    opacity: 0.3;
    position: absolute;
    width: 220px;
    height: 400px;
}


div.ramp {
    top: 148px;
    width: 360px;
}
#ramp {
    display: block;
    width: 1800px;
    height: 475px;
    margin-left: -40px;
    margin-top: -148px;
}
#rampFG {
    position: absolute;
    width: 1800px;
    height: 475px;
    top: -146px;
    background-image: url("../images/obstacle_ramp.png")
}
#lava {
    left: 110px;
    top: 200px;
    width: 1620px;
    height: 140px;
    background-image: url("../images/lava.jpg");
    position: absolute;
    animation: lavaflow 30s infinite linear;
}
@keyframes lavaflow {
    0% {
        background-position: 0 -150px;
    } 
    100% {
        background-position: -900px 150px;
    }
}

#rampLong {
    display: none;

    width: 2200px;
    height: 475px;
    margin-left: -40px;
    margin-top: -145px;
    background-image: url("../images/obstacle_rampLong.png")
}
div.rampLong #ramp {
    display: none;
}
div.rampLong #rampLong {
    display: block;
}

.obstacle, #player{
    /*background-color: rgba(255,0,0,0.2);*/
}
#warningtxt {
    transform: translate(-50%,-50%) scale(2) rotate(0);
    top: 230px;
    left: 850px;
}
#warningtxt.down {
    transform: translate3d(-50%,260%,-70px) translateZ(0) rotateZ(-90deg) rotateX(10deg) rotateY(90deg) scaleX(4) scaleY(5);
}
#warningtxt.down div {
    animation: warningBounceDown .3s ease-out 7;
}
@keyframes warningBounceDown {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
#warningtxt.up {
    transform: translate3d(-50%,260%,-50px) translateZ(0) rotateZ(90deg) rotateX(-10deg) rotateY(90deg) scaleX(4) scaleY(5);
}
#warningtxt.up div {
    animation: warningBounceUp .3s ease-out 7;
}
@keyframes warningBounceUp {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
#warningtxt.updown {
    transform: translate(-85%,10px) scaleX(4) scaleY(3);
}
#warningtxt.asteroid {
    transform: translate(-85%,10px) scaleX(2) scaleY(2) rotate(90deg);
}
#warningtxt.hole {
    transform: scaleX(6) scaleY(5) rotateX(60deg) rotateZ(0deg);
    width: 16px;
    height: 16px;
}
#warningtxt.hole div {
    animation: warningHole 3s linear;
    width: 16px;
    height: 16px;
}
@keyframes warningHole {
    0% { 
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(1080deg) scale(.2);
    }
}
#warningtxt.ramp {
    transform: translate(-85%,10px) scaleX(3) scaleY(2);
    width: 64px;
    height: 16px;
}
#warningtxt.ramp div {
    animation: warningRamp .3s linear 7;
    width: 64px;
    height: 16px;
}
@keyframes warningRamp {
    0% { 
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}

.arrowUp,
.arrowDown {
    width:18px;
    height:18px;
    background-size: 90% 90%;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.arrowDown {
    transform: scaleY(-1);
}

#resumetxt {
    top: 402px;
    transform: translate(-80%,-50%) scale(2) rotate(-1deg);
}























/*/// */
#copyWrap {
    perspective: 200px;
    perspective-origin: 870px 175px;
    overflow: hidden;
}
#copyWrap {
    /*perspective: 100px;*/
    /*perspective-origin: 870px center;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 970px;
    height: 475px;
    position: absolute;
}
.copy {
    position: absolute;
    color: #fff;
    
    left: 50%;
    top: 170px;
    transform: translate(-50%,-50%) scale(2);
    user-select: none;
}
#jumpingtxt {
    position: absolute;
    color: #fff;
    left: 15px;
    top: 35px;
}
#tricktxt {
    border:solid 1px #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 100px;
    height: 10px;
}
#trickMeter {
    position: absolute;
    height: 10px;
    background-color: yellow;
}

#cheatstxt {
    position: absolute;
    color: red;
    left: 50%;
    top: 15px;
    display: none;
    transform: translateX(-50%);
}
#pointstxt {
    position: absolute;
    color: #fff;
    left: auto;
    right: 15px;
    top: 15px;
}
#speechbub {
    background-image: url(../images/speech.png);
    background-size: 100% 100px;
    background-repeat: repeat-x;
    transform: translate(-57px, -60px) scale(0.7, 0.7);

    top: 4px;
    left: 158px;
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    overflow: visible;
}
#speechbub:before {
    content: " ";
    background-image: url(../images/speechL.png);
    width: 69px;
    height: 100px;
    left: -68px;
    top: 0;
    position: absolute;
}
#speechbub:after {
    content: " ";
    background-image: url(../images/speechR.png);
    width: 15px;
    height: 100px;
    top: 0;
    right: -15px;
    position: absolute;
}
#speechtxt {
    color: #000;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: visible;
    position: absolute;
    left: -37px;
    top: 38%;
    transform: translateY(-50%);
    line-height: 22px;
}
#pausedtxt {
    transform: scale(3.5) translate(-50%, -50%);
    transform-origin: left top;
    /*background-color: rgba(84,36,84,.6);*/
    /*border: dashed #fff 2px;*/
    padding: 1% 4.5% 4%;
    top: 148px;
    z-index: 1;
    color: #fed9ef;
    text-shadow: 1px 1px 0px #000;
}
#introBtn,
#introBtnK,
#introBtnJ,
#pauseBtn,
#pauseBtnK,
#pauseBtnJ { 
    width: 80px;
    height: 52px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
#pauseBtn,
#introBtn {
    background-image: url(../images/mobileControls.png); 
    background-size: 100% auto;
    background-position: center top;
    height: 52px;
    width: 52px;
    vertical-align: middle;
}
#introBtn.pressedD { background-position: center -53px; }
#introBtn.pressedA { background-position: center -107px; }
#introBtn.pressedW { background-position: center -159px; }
#introBtn.pressedS { background-position: center -210px; height:50px; }

#pauseBtnK,#pauseBtnJ,
#introBtnK,#introBtnJ{
    background-size: 100% auto;
    background-position: center top;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    overflow: hidden;
}
#pauseBtnK,
#introBtnK{
    background-image: url(../images/introBtnJump.png); 
}
#pauseBtnJ,
#introBtnJ {
    background-image: url(../images/introBtnWheelie.png); 
}

#introBtnK.pressed,
#introBtnJ.pressed {background-position: center -32px;}



#start-select{ 
    background-image: url(../images/start-select.png);
}

#introBtnS,
#introBtnOptions {
    
}
#introBtnS {
    background-image: url('../images/introBtnWheelie.png');
    background-size: 100% auto;
    height: 26px;
    vertical-align: middle;
}
.flashing {
    animation: flash 1s infinite linear;
}
@keyframes flash {
    0%{opacity:.4}
    50%{opacity:1}
    100%{opacity:.4}
}
#instructions_optionsTxt {
    top: 268px;
    transform: translate(-50%,-50%) scale(1.4);
}
#instructionsTxt3,#pauseTxt1 {
    top: 217px;
    z-index: 1;
}
#instructionsTxt4,#pauseTxt2 {
    top: 235px;
    z-index: 1;
    line-height: 3em;
}
#instructionsTxt0 {
    top: 215px;
}
.instructions_desktop {
    display: none;
}
.instructions_mobile {
    display: inline-block;
}
#pauseTxt1 {
    top: 240px;
    left: 280px;
}
#pauseTxt1.paused{
    display: none;
}
#pauseTxt2.paused{
    transform: translate(-50%, -27%) scale(2) rotate(0deg);
    display: block;
}


#endtxt {
    text-align: center;
    line-height: 30px;
    display: none;
    top: 70px;
    width: 55%;
    line-height: 12px;
}
#endtxt h2{
    font-size: .7em;
}
#endtxt_score,#endtxt_obs {
    position: absolute;
    left: 110px;
    top: -6px;
    font-size: 1.4em;
    line-height: 0.8em;
}
#endtxt_score{
    top: -6px;
    right: 140px;
    left: auto;
}
#endtxt_perf {
    font-size: 1.2em;
    top: 167px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    animation: colorRotateYellow .5s infinite;
    visibility: hidden;
    opacity: 0;
}
#endtxt_perfBalloon {
    position: absolute;
    top: -140px;
    left: 40px;
    width: 70px;
    animation: balloon 1.5s infinite ease-in-out alternate; 
    opacity: 0;
}
@keyframes balloon {
    0% {
        transform: translateX(-20px) rotate(-10deg);
    }
    100% {
        transform: translateX(20px) rotate(10deg);   
    }
}
#obstaclesHittxt.colorRotateRed {
    animation: colorRotateRed 1s infinite;
}
#obstaclesHittxt.colorRotateYellow {
    animation: colorRotateYellow .5s infinite;
}
#initailsWrap {
    top: 80px;
    position: absolute;
    width: 100%;
    opacity: 0;
}
#initialstxt {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 2em;
    outline: none;
    width: 100px;
}
#highscorestxt {
    text-align: center;
    line-height: 1.2em;
    top: 170px;
}
#highscorestxt span{
    animation: colorRotateRed 1s infinite;
}
#highscorestxt span.title{
    animation: colorRotateYellow 1s infinite;
}
@keyframes colorRotateRed {
    0% { color: red; }
    50% { color: #fff; }
    100% { color: red; }
}
@keyframes colorRotateYellow {
    0% { color: yellow; }
    50% { color: #fff; }
    100% { color: yellow; }
}




#endScreenBtns a {
    cursor: pointer;
    font-size: 1em;
    color: #db51a3;
    z-index: 1;
    transition: color 1s;
    transform: scale(2);
    text-align: center;
    top: 356px;
    display: block;
    text-decoration: none;
}

#endScreenBtns a#replayBtn {
    top: 390px;
    transform: scale(2) translate(-26%, -50%);
    animation: replayBounce 1s infinite steps(1);
}
#endScreenBtns a#listenBtn,
#endScreenBtns a#dotcomBtn{
    left: 75px;
    transform: scale(1.2);
    line-height: 1.4em;
    background-color: #bfbfbf;
    padding: 0.6em;
    color: #000;
    font-size: 0.8em;
    min-width: 154px;
    min-height: 36px;
    top: 388px;
    border-width: 2px;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: rgb(5, 6, 8);
    border-style: solid;
    border-bottom-color: rgb(5, 6, 8);
    cursor: pointer;
}
#endScreenBtns a#dotcomBtn {
    right: 5px;
    left: auto;
}
#endScreenBtns a.shareBtn {
    transform: scale(1.2);
    line-height: 1.4em;
    background-color: #bfbfbf;
    padding: 0.6em;
    color: #000;
    font-size: 0.8em;
    min-width: 90px;
    min-height: 36px;
    border-width: 2px;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: rgb(5, 6, 8);
    border-style: solid;
    border-bottom-color: rgb(5, 6, 8);
    left: 275px;
    min-height: 0px;
    top: 409px;
}
#endScreenBtns a.shareBtnIcon{
    background-size: auto 84px;
    width: 84px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
    position: absolute;
    transform: none;
    top: 120px;
    opacity: 0;
}
#endScreenBtns a#shareBtnEmail{
    left: 69px;
    top: 240px;
    transform: scale(0.75);
    background-image: url(../images/sharebtn_email.png); 
}
#endScreenBtns a#shareBtnTwitter{
    left: 80px;
    background-image: url(../images/sharebtn_twitter.png); 
}
#endScreenBtns a#shareBtnFacebook{
    left: 799px;
    top: 240px;
    background-image: url(../images/sharebtn_facebook.png); 
}
#endScreenBtns a#shareBtnWhatsapp{
    left: 800px;
    background-image: url(../images/sharebtn_whatsapp.png); 
}
#endScreenBtns a.shareBtnIcon:hover,
#endScreenBtns a.shareBtnIcon:active{
    transform: scale(.75,.75)!important;
}


#endScreenBtns a:hover,
#endScreenBtns a:active {
    color: yellow;
}
#endScreenBtns a#dotcomBtn:hover,
#endScreenBtns a#listenBtn:hover{
    color: yellow;
}
#endScreenBtns a#listenBtn:active,
#endScreenBtns a#dotcomBtn:active{
    padding: 0.7em 0.5em 0.5em 0.7em;
    border-left-color: rgb(5, 6, 8);
    border-top-color: rgb(5, 6, 8);
    border-right-color: #c2c2c2;
    border-bottom-color: #c2c2c2;
}
@keyframes replayBounce {
    0% { font-size:1em; }
    30% { font-size:1.1em; }
    100% { font-size:1em }
}




#lyricstxt{
    width: 970px;
    display: block;
    transform: scale(1.2);
    left: 0;
    top: 60px;
    color: rgb(245 20 245);
}
.lyrics{
    width: 100%;
    text-align: center;
    top: 8px;
    left: 0;
    position: absolute;
    display: none;
}
.lyrics:before {
    content: " ";
    display: inline-block;
    background-image: url(../images/music-note.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px bottom;
    width: 1em;
    height: 1.2em;
    margin-right: 1em;
    overflow: hidden;
}
.chorusLyrics {
    color: #fcac7c;
}
.chorusLyrics:before {
    content: " ";
    display: inline-block;
    background-position: 0px 0%;
}
.colour1,
.colour1:before {
    background-position: 0px 75%;
    color: #c556c5;
}
.colour2,
.colour2:before { 
    color: #fa8a5a;
    background-position: 0px 25%;
}
.colour3,
.colour3:before { 
    color: #46f4f3;
    background-position: 0px 50%;
}



#optionsScreen,#charactersScreen {
    background-image: url(../images/optionsScreen.png);
    width: 970px;
    height: 475px;
    position: absolute;
    z-index: 100;
}
#optionsScreen #optionsTitle {
    left: 495px;
    top: 62px;
    transform: scale(1.25);
}
.optionsBike {
    width:50%;
    height: 80px;
    position: absolute;
    left: 220px;
    top: 110px;
    cursor: pointer;
    background-image: url(../images/bike.png);
    background-size: 164px 150px;
    background-position: left center;
    background-repeat: no-repeat;
    z-index: 1;
    text-indent: 184px;
    font-size: 1.05em;
    line-height: 80px;
    text-align: center;
    color: white;
    transition: 1s background-color;
}
.optionsBike:hover {
    background-color: rgba(255,0,0,0.3); 
}
#optionsBike1 {
    top: 210px;
    background-image: url(../images/bike1.png);
}
#optionsBike2 {
    top: 310px;
    background-image: url(../images/bike2.png);
}
.fzero #optionsBike2 {
    background-image: url(../images/bike3.png);
}
.flashing {
    animation: flash 1s infinite linear;
}


/* character select */
#charactersScreen #characterTitle {
    left: 477px;
    top: 77px;
    transform: scale(1.15);
}
#charactersScreen {
    left: 27px;
    background-size: 132% 90%;
    background-position: center;
    z-index: 400;
    transform: scale(1.2);
}
.img_character {
    position: absolute;
    top: 47px;
    left: 67px;
    width: 831px;
    height: 401px;
    background-size: 100% auto;
    background-position: center top;
    z-index: 5
}
.img_character.on {
    background-position: center bottom;   
}
#img_character1 {
    background-image: url(../images/character-jon.png);
    left: 87px;
}
#img_character2 {
    background-image: url(../images/character-srdj.png);
    left: 66px;
}
#img_character3 {
    background-image: url(../images/character-guy.png);
    left: 41px;
}
#img_character4 {
    background-image: url(../images/character-scott.png);
    left: 37px;
}

#img_character5 {
    background-image: url(../images/character-sergio.png);
    width: 970px;
    height: 475px;
    top: 0;
    left: -30px;
}
.btn_character,.highlight_character {
    position: absolute;
    height: 225px;
    width: 100px;
    top: 170px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.btn_character {
    z-index: 6;
}
#btn_character1,
#highlight_character1 {
    width: 140px;
    left: 120px;
}
#btn_character2,
#highlight_character2 {
    width: 160px;
    left: 252px;
}
#btn_character3,
#highlight_character3 {
    width: 150px;
    left: 400px;
}
#btn_character4,
#highlight_character4 {
    width: 150px;
    left: 527px;
}
#btn_character5,
#highlight_character5 {
    width: 130px;
    left: 661px;
}
.highlight_character{
    transition: transform 1s ease-in;
    transform: scaleY(0);
    transform-origin: center bottom;
    z-index: 1;
}
.highlight_character.on{
    transition: transform .7s ease-out;
    transform: scaleY(1);
    z-index: 4;
}

#highlight_character1 { background-color: rgb(152 154 2); }
#highlight_character2 { 
    background: rgb(0,55,142);
    background: linear-gradient(180deg, rgba(0,23,57,1) 0%, rgba(0,23,57,1) 33%, rgba(99,99,99,1) 33%, rgba(99,99,99,1) 66%, rgba(86,0,1,1) 66%, rgba(86,0,1,1) 100%);
 }
#highlight_character3 { background-color: rgb(60 60 153); }
#highlight_character4 { background-color: rgb(0 153 0); }
#highlight_character5 { background-color: rgb(128 16 17); }

#txt_character div {
    opacity: 0;
    display: inline-block;
    position: absolute;
    color: white;
    top: 112px;
    width: auto;
    text-align: center;
    transform: scale(0.8);
    transition: opacity .1s;
}
#txt_character div.on {
    opacity: 1;
    transition: opacity .5s 0s ease-in;
}
#txt_character div span {
    opacity: 0;
}
#txt_character div span.char_confirm {
    animation: flash 1s infinite linear;
    color: yellow;
}
#txt_character div#txt_character1 { 
    color: rgba(255,255,0,1);
    left: 70px; 
}
#txt_character div#txt_character2 { left: 219px; }
#txt_character div#txt_character3 { 
    color: rgb(172 172 255);
    left: 330px; 
}
#txt_character div#txt_character4 { 
    color: rgba(0,255,0,1);
    left: 478px; 
}
#txt_character div#txt_character5 { 
    color: rgba(142,18,18,1);
    left: 467px; 
}

#txt_character div#txt_character5{
    color: #8e1212;
    top: 98px;
    height: 33px;
    line-height: 40px;
    width: 380px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 343px top;
    background-image: url(../images/locked.png);
    /*animation: flashing 1s infinite;*/
}



#flyPast {
    left: -164px;
    top: 38px;
    transform: scale(.7);
    position: absolute;
    width: 164px;
    height: 150px;
}
#flyPast-jets {
    background-image: url(../images/rider-jets.png);
    width: 164px;
    height: 150px;
    top: 0;
    left: -8px;
    position: absolute;
    background-size: 164px 300px; 
    animation: jetsGo 0.1s steps(2, end) infinite;
    overflow: hidden;
    background-repeat: no-repeat;
    opacity: 0;
}
#flyPast-fzero {
    opacity: 0;
    background-image: url(../images/bike3.png);
    width: 164px;
    height: 150px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
#flyPast.fzero #flyPast-fzero {
    opacity: 1;
}
#flyPast-sergio {
    opacity: 0;
    background-image: url(../images/sergio.png);
    width: 164px;
    height: 150px;
    top: -24px;
    left: -3px;
    position: absolute;
    background-position-y: 0px;
    background-size: 164px 450px;
    animation: sergioPlay .5s steps(3, end) infinite alternate;
    background-repeat: no-repeat;
}
@keyframes sergioPlay {
    0%{ 
        background-position-y: 0px;
        transform: rotate(-10deg) translateX(-20px) translateY(0px);
    }
    100%{ 
        background-position-y: -450px;
        transform: rotate(0deg) translateX(0px) translateY(0px);
    }
}
#flyPast.sergio #flyPast-jets {
    top: 34px;
    left: -32px;
}
#flyPast.sergio { 
    top: 150px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 2px 18px;
    background-image: url(../images/sergio_ship.png);
}
#flyPast.sergio #flyPast-jets,
#flyPast.fzero #flyPast-jets,
#flyPast.sergio #flyPast-sergio{
    opacity: 1;
}
#flyPast-toad {
    opacity: 0;
    background-image: url(../images/battletoads.png);
    width: 164px;
    height: 150px;
    top: 466px;
    left: -11px;
    position: absolute;
    background-size: 164px 150px; 
}
#toad-shadow {
    width: 170px;
    left: -20px;
    position: absolute;
    top: 0px;
    animation: toadShadowBounce .5s infinite linear;
    transform-origin: center 90%;
}
@keyframes toadShadowBounce {
    0%{ 
        transform: translateY(-9px) scale(1);
        opacity: .2; 
    }
    50%{ 
        transform: translateY(-9px) scale(1.1); 
        opacity: .4;
    }
    100%{ 
        transform: translateY(-9px) scale(1); 
        opacity: .2; 
    }
}
#flyPast.toad {
    z-index: 1;
}
#flyPast.toad #flyPast-toad{
    opacity: 1;
    animation: riderBounce .5s infinite linear;
}
#flyPast.toad #flyPast-jets{
    opacity: 0;
}






#mobileControls {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 0;
    opacity: .7;
    /*filter: invert(1);*/
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.pulseMobileControls {
    animation: pulseMobileControls 1s ease-in-out 5 alternate;
}
@keyframes pulseMobileControls {
    0% { opacity: 0 }
    100% { opacity: .7 }

}
#mobilePause {
    position: absolute;
    width: 100%;
    height: 220px;
}
#mobilePause2 {
    position: absolute;
    left: 230px;
    top: 220px;
    width: 490px;
    height: 255px;
}
#mobileControls.optionsShowing,
#mobileControls.off{
    display: none;
}
.mobileControl,.btnMove  {
    position: absolute;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;

}
#btnsMove {
    bottom: 10px;
    left: 6px;
    width: 150px;
    height: 150px;
    background-image: url(../images/mobileControls.png);
    background-size: 100% auto;
    background-position: 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#btnsMove.backwards{
    background-position-y: 52%;
    left: 8px;
    bottom: 8px;
}
#btnsMove.down{
    background-position-y: 101%;
}
#btnsMove.up{
    background-position-y: -459px;
    height: 147px;
}
#btnsMove.forwards{
    background-position-y: 25%;
}
.btnMove,#btnJump,#btnWheelie, #btnOption{
    width: 50px;
    height: 56px;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#btnMoveUp {
    top: -6px;
    left: 50px;
}
#btnMoveForwards {
    top: 47px;
    left: 100px;
}
#btnMoveBackwards {
    top: 47px;
    left: 0px;
}
#btnMoveDown {
    top: 103px;
    left: 50px;
}
#btnOption,#btnStart{
    top: 19px;
    left: 27px;
    width: 85px;
    height: 109px;
}
#btnStart{
    left: 125px;
}
#btns{
    background-image: url(../images/btns.png);
    background-size: 100% auto;
    background-position: 0 0;
    width: 168px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat; 
}
#btnWheelie,
#btnJump {
    bottom: 71px;
    right: 10px;
    height: 70px;
    width: 70px;
}
#btnWheelie {
    right: 91px;
    bottom: 8px;
}
#start-select {
    position: absolute;
    right: 418px;
    bottom: 0px;
    width: 238px;
    height: 128px;
    opacity: 1;
    background-image: url(../images/start-select.png);
    background-size: 100% auto;
}
#btns.pressedWheelie {
    background-position: 0px -150px;
}
#btns.pressedJump {
    background-position: 0px bottom;
}


#footer {
    color: #fff;
    display: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    width: 100%;
    text-align: center;
}
#footer a {
    color: #fff;
    text-decoration: none; 
}
#footer a:hover {
    text-decoration: underline;
}