@charset "UTF-8";
/* CSS Document */

img,div{border:0; /*position: absolute; */}
body{
    /*position:absolute;*/
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background-color:#000;

    /* below improves consistancey of font rendering across browsers */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    /* below stops FireFox rendering copy too heavily */
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Press Start 2P', 'Courier New', monospace;
    /*font-weight: bold;*/

}
#wrap {
    background-color: #000;
    background-image: url(../images/primitai-album-BG.jpg);
    background-size: cover;
    background-position: center;
}
#container {
    background-color: #000;
    overflow:hidden;
    width: 970px;
    height: 475px;
    position: absolute;
    user-select: none;
}
.hidden {
    opacity: 0;
}

.bg,.fg{
    position: absolute;
}
.bg {
    width:1800px;
}
.bgStars {
    width: 1300px;
    height: 475px;
    opacity: .3;
    background-size: contain;
}
#bgStars2,#bgStars3{
    transform: translateX(1300px);
}
#bgStars1,#bgStars3{
    background-image: url(../images/stars_1.png);
}
#bgStars2{
    background-image: url(../images/stars_2.png);
}
#bgStars1.fast,
#bgStars2.fast,
#bgStars3.fast{
    background-image: url(../images/stars_1-fast.png);
}

#tilt {
    transform: translateY(400px);
}
.fg{
    width: 1801px;
    left: 0px;
    top: 20px;
    opacity: 1;
}
#fg-intro {
    left: 0;
    top: 20px;
    width: 2250px;
}
.fgToGo{
    transform: translateX(1300px);
    opacity: 1;
}
#fgToGo3{
    transform: translateX(0px);
}
#fgs {
    opacity: 0
}
#lightning {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    opacity: 0;
}
#area {
    position: absolute;
    width: 100%;
    height: 470px; 
    top: 0;
    left: 0;
    perspective: 500px;
    -moz-perspective: 2000px;
    perspective-origin: left top;
}

#player{
    position: absolute;
    left: 40px;
    height: 120px;
    top: 320px;
    transition: left 2s;
    width:150px;
    perspective: 250px;
    overflow: visible;
}
.player {
    height: 150px;
    position: absolute;
}
#playerMovements {
    transform: translateZ(0px);
}
#rider {
    
}
#bike {
    
}
.shadow{
    opacity: .4;
}
.riderBounce {
     animation: riderBounce 1s infinite linear;
}
@keyframes riderBounce {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(10px);}
    100%{ transform: translateY(0px);}
}
.riderFly #rider-jets,
.riderFly #rider-go {
    opacity: 1;
}
.car-jets,
#rider-jets {
    background-image: url(../images/rider-jets.png);
    width: 164px;
    height: 150px;
    top: 0;
    left: 0;
    background-size: 164px 300px; 
    animation: jetsGo 0.1s steps(2, end) infinite;
    overflow: hidden;
    background-repeat: no-repeat;
    opacity: 0;
}
#rider-jets {
    top: 2px;
    left:-5px;
}
@keyframes jetsGo {
    0%{ 
        background-position-y: 0px; 
    }
    100%{ 
        background-position-y: -300px;    
    }
}
#rider-go {
    width: 164px;
}
.hair-go,.rider-go,#bike-go {
    width:164px;
    height: 150px;
    position: absolute;
}
.rider-go {
    /*opacity: 1;*/
    background-image: url("../images/rider-go-new.png");
    background-size: 100%;
}
#bike-go {
    background-image: url("../images/bike.png");
    background-size: 100%;
}
#bike-go.bike1 {
    background-image: url("../images/bike1.png");
}
#bike-go.bike2 {
    background-image: url("../images/bike2.png");
}
.rider-scream,.rider-scream2 {
    width: 100%;
    position: absolute;
    opacity: 0;
}
.rider-scream2 {
    top: -20px;
    left: 4px;
}
.shadowBounce {
     animation: shadowBounce 1s infinite linear;
     transform-origin: center 90%;
}
@keyframes shadowBounce {
    0%{ 
        transform: translateY(0px) scale(1);
        opacity: .2; 
    }
    50%{ 
        transform: translateY(0px) scale(1.1); 
        opacity: .4;
    }
    100%{ 
        transform: translateY(0px) scale(1); 
        opacity: .2; 
    }
}
#player.forwards {
    left: 150px;
}
#player.forwards2 {
    left: 300px;
}
#player.forwards3 {
    left: 400px;
}
#flame {
    width: 200px;
    height: 250px;
    top: -85px;
    left: 30px;
}
/* for ending */
.car {

}
.car-jets {
    top: 40px;
    left: 23px;
    transform: scaleY(1.2) scaleX(1.9);
    filter: hue-rotate(190deg);
}
#car-jets2 {
    top: -3px;
    left: -10px;
    transform: scaleY(1.2) scaleX(1.7);
}
#car-shadow {
    top: 30px;
}


.obstacle {
    width: 60px;
    left: 340px;
    position: absolute;
}



div.rockL {
    top: 180px;
    width: 160px;
}
img.rockL {
    width: 160px;
    height: auto;
    transform: translateY(80px);
}


div.rockR {
    top: 406px;
    height: auto;
    width: 200px;
}
img.rockR {
    height: auto;
    transform: translateY(-80px);
}

div.hole {
    top: 292px;
    width: 360px;
}
img.hole {
    width: 484px;
    margin-left: -60px;
}

div.asteroid {
    top: 160px;
    width: 180px;
    height: 100%;
}
img.asteroid {
    width: 180px;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {transform: translateY(-60px) rotate(360deg);}
    100% {transform: translateY(-60px) rotate(0deg);}
}
img.asteroid-shadow {
    top: -100px;
    left: -20px;
    opacity: 0.3;
    position: absolute;
    width: 220px;
    height: 400px;
}


div.ramp {
    top: 148px;
    width: 360px;
}
img.ramp {
    width: 791px;
    margin-left: -60px;
}

.obstacle, #player{
    /*background-color: rgba(255,0,0,0.2);*/
}
#warningtxt {
    top: 230px;
    left: 850px;
}
























/*/// */
#copyWrap {
    perspective: 100px;
    perspective-origin: 870px center;
}
.copy {
    position: absolute;
    color: #fff;
    
    left: 50%;
    top: 170px;
    transform: translate(-50%,-50%) scale(2);
    user-select: none;
}
#jumpingtxt {
    position: absolute;
    color: #fff;
    left: 15px;
    top: 15px;
}
#cheatstxt {
    position: absolute;
    color: #fff;
    left: 15px;
    top: 43px;
    display: none;
}
#pointstxt {
    position: absolute;
    color: #fff;
    left: auto;
    right: 15px;
    top: 15px;
}
#speechbub {
    background-image: url(../images/speech.png);
    background-size: 100% 100px;
    background-repeat: repeat-x;
    transform: translate(-57px, -60px) scale(0.7, 0.7);

    top: 4px;
    left: 158px;
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    overflow: visible;
}
#speechbub:before {
    content: " ";
    background-image: url(../images/speechL.png);
    width: 69px;
    height: 100px;
    left: -68px;
    top: 0;
    position: absolute;
}
#speechbub:after {
    content: " ";
    background-image: url(../images/speechR.png);
    width: 15px;
    height: 100px;
    top: 0;
    right: -15px;
    position: absolute;
}
.speechtxt {
    color: #000;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: visible;
    position: absolute;
    left: -37px;
    top: 38%;
    transform: translateY(-50%);
    line-height: 22px;
}
#pausedtxt {
    transform: scale(3.5) translate(-50%, -50%);
    transform-origin: left top;
    /*background-color: rgba(84,36,84,.9);*/
    /*border: dashed #fff 2px;*/
    padding: 1%;
    z-index: 1;
    color: #fed9ef;
    animation: pausedPulse 3s infinite;
}
@keyframes pausedPulse {
    0% { text-shadow: 0px 0px 10px #fff; }
    50% { text-shadow: 0px 0px 22px #fff; }
    100% { text-shadow: 0px 0px 10px #fff; }
}

#introBtn,
#introBtnK,
#introBtnJ {
    width: 80px;
    height: 52px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
#introBtn img,
#introBtnK img,
#introBtnJ img {
    position: absolute;
    top: 0;
    width: 80px;
}
#introBtn.pressedA img { top: -52px; }
#introBtn.pressedS img { top: -104px; }
#introBtn.pressedD img { top: -156px; }
#introBtn.pressedW img { top: -208px; }
#introBtnK.pressed img,
#introBtnJ.pressed img {top: -52px;}

#introBtnJ img,
#introBtnJ,
#introBtnK img,
#introBtnK,
#introBtnS,
#introBtnOptions {
    width: 26px;
}
#instructionsTxt0 {
     top: 180px;
}
.flashing {
    animation: flash 1s infinite linear;
}
@keyframes flash {
    0%{opacity:.4}
    50%{opacity:1}
    100%{opacity:.4}
}
#instructions_optionsTxt {
    top: 255px;
    transform: translate(-50%,-50%) scale(1.4);
}
#instructionsTxt3 {
    top: 207px;
}
#instructionsTxt4 {
    top: 220px;
}

#endtxt {
    text-align: center;
    line-height: 30px;
    display: none;
    top: 220px;
}
#initialstxt {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 2em;
    outline: none;
    width: 100px;
}
#highscorestxt {
    text-align: center;
    line-height: 1.2em;
    top: 170px;
}
#highscorestxt span{
    animation: colorRotateRed 1s infinite;
}
@keyframes colorRotateRed {
    0% { color: red; }
    50% { color: #fff; }
    100% { color: red; }
}




#endScreenBtns{
    display: none;
}
#endScreenBtns a {
    cursor: pointer;
    font-size: 1em;
    color: #db51a3;
    z-index: 1;
    transition: color 1s;
    transform: scale(2);
    text-align: center;
    top: 356px;
    display: block;
    text-decoration: none;
}

#endScreenBtns a#replayBtn {
    top: 360px;
    transform: scale(2) translate(-26%, -50%);
    animation: replayBounce 1s infinite steps(1);
}
#endScreenBtns a#shareBtn,
#endScreenBtns a#listenBtn,
#endScreenBtns a#dotcomBtn{
    left: 45px;
    transform: scale(1.2);
    line-height: 1.4em;
    background-color: #bfbfbf;
    padding: 0.6em;
    color: #000;
    font-size: 0.8em;
    min-width: 154px;
    min-height: 36px;
    top: 388px;
    border-width: 2px;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: rgb(5, 6, 8);
    border-style: solid;
    border-bottom-color: rgb(5, 6, 8);
    cursor: pointer;
}
#endScreenBtns a#shareBtn {
    left: 380px;
    min-height: 0px;
    top: 409px;
}

#endScreenBtns a#dotcomBtn {
    right: 45px;
    left: auto;
}

#endScreenBtns a:hover,
#endScreenBtns a:active {
    color: yellow;
}
#endScreenBtns a#dotcomBtn:hover,
#endScreenBtns a#listenBtn:hover{
    color: yellow;
}
#endScreenBtns a#listenBtn:active,
#endScreenBtns a#dotcomBtn:active{
    padding: 0.7em 0.5em 0.5em 0.7em;
    border-left-color: rgb(5, 6, 8);
    border-top-color: rgb(5, 6, 8);
    border-right-color: #c2c2c2;
    border-bottom-color: #c2c2c2;
}
@keyframes replayBounce {
    0% { font-size:1em; }
    30% { font-size:1.1em; }
    100% { font-size:1em }
}




#lyricstxt{
    width: 970px;
    display: block;
    transform: scale(1.2);
    left: 0;
    top: 60px;
    color: rgb(245 20 245);
}
.lyrics{
    width: 100%;
    text-align: center;
    top: 8px;
    left: 0;
    position: absolute;
    display: none;
}
.lyrics:before {
    content: " ";
    display: inline-block;
    background-image: url(../images/music-note.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1em;
    height: 1em;
    margin-right: 1em;
}
.chorusLyrics {
    color: #fcac7c;
}
.chorusLyrics:before {
    content: " ";
    display: inline-block;
    background-image: url(../images/music-note-chorus.png);
}


#optionsScreen {
    background-image: url(../images/optionsScreen.png);
    width: 970px;
    height: 475px;
    position: absolute;
    display: none;
}
#optionsScreen #optionsTitle {
    left: 495px;
    top: 62px;
    transform: scale(1.25);
}
.optionsBike {
    width:50%;
    height: 80px;
    position: absolute;
    left: 220px;
    top: 110px;
    cursor: pointer;
    background-image: url(../images/bike.png);
    background-size: 164px 150px;
    background-position: left center;
    background-repeat: no-repeat;
    z-index: 1;
    text-indent: 184px;
    font-size: 1.05em;
    line-height: 80px;
    text-align: center;
    color: white;
    transition: 1s background-color;
}
.optionsBike:hover {
    background-color: rgba(255,0,0,0.3); 
}
#optionsBike1 {
    top: 210px;
    background-image: url(../images/bike1.png);
}
#optionsBike2 {
    top: 310px;
    background-image: url(../images/bike2.png);
}
.flashing {
    animation: flash 1s infinite linear;
}





#mobileControls {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 0;
    opacity: .5;
    filter: invert(1);
    user-select: none;
}
#mobileControls.optionsShowing{
    display: none;
}
.mobileControl,.btnMove  {
    position: absolute;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;

}
#btnsMove {
    bottom: 20px;
    left: 20px;
    width: 160px;
    height: 104px;
    background-image: url(../images/introBtn.png);
    background-size: 160px auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#btnsMove.backwards{
    background-position-y: -104px;
}
#btnsMove.down{
    background-position-y: -208px;
}
#btnsMove.up{
    background-position-y: -416px;
}
#btnsMove.forwards{
    background-position-y: -312px;
}
.btnMove,#btnJump,#btnWheelie, #btnOption{
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#btnMoveUp {
    top: 0px;
    left: 55px;
}
#btnMoveForwards {
    top: 55px;
    left: 110px;
}
#btnMoveBackwards {
    top: 55px;
    left: 0px;
}
#btnMoveDown {
    top: 55px;
    left: 55px;
}
#btnWheelie,
#btnJump,
#btnOption {
    bottom: 20px;
    right: 20px; 
    height: 55px;   
    background-position: 0px -47px;
    background-image: url(../images/introBtnK.png);
}
#btnWheelie {
    right: 80px;
    background-image: url(../images/introBtnJ.png);   
}
#btnOption {
    right: 485px;
    background-image: url(../images/introBtnO.png);
    background-size: 100% auto;
    background-position: center -43px;
}
#btnWheelie.pressed,
#btnJump.pressed {
    background-position: 0px bottom;
}